body {
    margin: 100px;
    padding: 0;
    background-color: #174ab8;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 250px;
    max-width: 600px;
    height: 360px;
    border: 1px solid rgb(156, 156, 156);
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }


  #register .container #register-row #register-column #register-box {
    margin-top: 250px;
    max-width: 600px;
    height: 380px;
    border: 1px solid rgb(156, 156, 156);
    background-color: #EAEAEA;
  }
  #register .container #register-row #register-column #register-box #register-form {
    padding: 20px;
  }
  #register .container #register-row #register-column #register-box #register-form {
    margin-top: -85px;
  }

  h1 , h2 , p {
   color: whitesmoke;

  }

  #additem {

    color: whitesmoke;
  }

  .label-color {

    color: white;
  }

  #dashboard
  {
    background-color: lightblue;
    margin: 200px;
    padding: 100px;
    border-style: solid;
  }

  #dashtitle {

    color: black;
  }

  #listed{
    background-color: white;
    color: white;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color:  lightblue;

  }
  .table-striped tbody{
    font-size: 11px;

  }

  .index {

    color:black;


  }

#dashboardalt a {
    text-decoration: none;
    color: white;
}
/*.logoff {

  } */


